@font-face {
    font-family: "eve-like";
    src: url('unsteady_oversteer.ttf');
}

body {
    /*background-color: #1b252f;*/
    background-image: url('background.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    color: #c3c3c3;
}

a {
    text-decoration: none;
}

a:link {
    color: #c3c3c3;
}

a:hover {
    color: #c3c3c3;
    font-weight: bold;
}

a:visited {
    color: #c3c3c3;
}

.main-char-pic {
    box-shadow: 0 4px 8px 0 black, 0 6px 20px #A0EADE;
    margin-bottom: 10px;
    border-radius: 5px;
}

.attacker-char-pic {
    box-shadow: 0 4px 8px 0 black, 0 3px 30px #ff0000;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.victim-char-pic {
    /*box-shadow: 0 4px 8px 0 black, 0 3px 30px #1eff00;*/
    /*margin-top: 15px;*/
    margin-bottom: 10px;
    border-radius: 5px;
}

.main-char .char-pic {
    max-height: 205px;
}

.page {
    display: grid;
    font-family: Arial;
    /*grid-template-rows: 1fr 8fr 1fr;*/
}

.char-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.main-char {
    text-align: center;
}

.tertiary-char-wrapper {
    max-width: 256px;
    margin-left: auto;
    margin-right: auto;
}

.tertiary-char {
    display: grid;
    grid-template-columns: 48px auto;
    align-items: center;
}

.corp-info-wrapper {
/*    display: grid;
    grid-template-columns: 64px auto;*/
    max-width: 205px;
    margin-left: auto;
    margin-right: auto;
}

.corp-info-wrapper h3 {
    text-align: left;
}

.corp-info {
    display: grid;
    grid-template-columns: 69px auto;
    align-items: center;
}

.corp-image {
    display: grid;
    grid-template-rows: 64px auto;
}

.corp-image img {
    max-height: 48px;
}

.corp-image p {
    margin-top: 2px;
}

.corp-text {
    padding-left: 5px;
    text-align: left;
    height: 100%;
}

.alliance-info-wrapper {
/*    display: grid;
    grid-template-columns: 64px auto;*/
}

.alliance-info-wrapper h3 {
    text-align: left;
}

.alliance-info {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.attackers {
    text-align: center;
}

.victims {
    text-align: center;
}

.main-banner {
    text-align: center;
}

.dropdown {
/*    display: none;
    position: absolute;*/
    background-color: rgba(187, 187, 187, .5);
    min-width: 230px;
    /*overflow: auto;*/
    border: 1px solid #ddd;
    z-index: 1;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#search-text {
    font-size: 24px;
    /*padding: 14px 20px 12px 45px;*/
    border: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

#search-text:focus {
    outline: 3px solid #ddd;
}

.search-header {
    max-height: 50px;
    margin-bottom: 25px;
}

.search-header img {
    max-height: 50px;
}

.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    padding-top: 1px;
    padding-bottom: 1px;
}

.dropdown a img {
    max-height: 32px;
}

.name-div {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.dropdown a:hover {background-color: #ddd;}

#banner {
    margin-bottom: 10px;
    margin-top: 100px;
}

.index-wrapper {
    display: grid;
}

.killed-by-title {
    font-family: "eve-like";
    background-color: #9e0013;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.killed-title {
    font-family: "eve-like";
    background-color: #0f7d00;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.victim-info-wrapper{
    background-color: rgba(187, 187, 187, .5);
    margin-left: auto;
    margin-right: auto;
    width:60%;
    box-sizing:border-box;
}

.victim-info{
    display:block;
    width:100%;
    box-sizing: border-box;
}

.victim-info-heading{
    cursor: pointer;
    margin: 0;
    padding: 10px;
    background: #696969;
    text-align: left;
    width:100%;
    box-sizing: border-box;
}

.close .victim-info-content{
    height:0px;
    transition:height 1s ease-out;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    float:left;
    display:block;
}

.open .victim-info-content{
    background-color: rgba(187, 187, 187, .5);
    display:block;
    text-align: left;
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: top;
    -o-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;

    -webkit-transition: -webkit-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease;
    -ms-transition: -ms-transform 0.6s ease;
    transition: transform 0.6s ease;
    box-sizing: border-box;
}

.open .victim-info-heading{
    margin:0px;
    background-color: #bdc3c7;
    color: #7f8c8d;
    text-align: left
}

.footer {
    font-family: "eve-like";
    color: white;
}
