{% extends "layout.html" %}
{% block body %}

<div class="search">
    <label>NERDb</label>
</div>

<div class="char-wrapper">
    <div class="victims">
        <h2>Top Victims</h2>
        {% if character.victims[0] %}<h4><a href="/character/{{ character.victims[0].character_id }}">{{ character.victims[0].name }} - {{ character.victims[0].attack_count }}</a></h4> {% endif %}
        {% if character.victims[0] %}<img class="char-pic" src="http://image.eveonline.com/Character/{{ character.victims[0].character_id }}_128.jpg"> {% endif %}
        {% if character.victims[1] %}<p>{{ character.victims[1].name }} - {{ character.victims[1].attack_count }}</p> {% endif %}
        {% if character.victims[2] %}<p>{{ character.victims[2].name }} - {{ character.victims[2].attack_count }}</p> {% endif %}
    </div>

    <div class="main-char">
        <h1>{{ character.info.name }}</h1>
        <img class="char-pic" src="http://image.eveonline.com/Character/{{ character.character_id }}_256.jpg">
        <div class="corp-info-wrapper">
            <div class="corp-info">
                <div class="corp-image">
                    <img src="https://image.eveonline.com/Corporation/{{ character.corporation.corporation_id }}_64.png">
                    <p>[{{ character.corporation.ticker }}]</p>
                </div>
                <div class="corp-text">
                    <p>{{ character.corporation.name }}</p>
                </div>
            </div>
        </div>
        {% if character.alliance %}
        <div class="corp-info-wrapper">
            <div class="corp-info">
                <div class="corp-image">
                    <img src="https://image.eveonline.com/Alliance/{{ character.alliance.alliance_id }}_64.png">
                    <p>[{{ character.alliance.ticker }}]</p>
                </div>
                <div class="corp-text">
                    <p>{{ character.alliance.name }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        <h3><a href="https://zkillboard.com/character/{{ character.character_id }}/" target="_blank">zkill</a></h3>
    </div>

    <div class="attackers">
        <h2>Top Attackers</h2>
        {% if character.attackers[0] %} <h4><a href="/character/{{ character.attackers[0].character_id }}">{{ character.attackers[0].name }}: {{ character.attackers[0].attack_count }} kills</a></h4> {% endif %}
        {% if character.attackers[0] %} <a href="/character/{{ character.attackers[0].character_id }}"><img class="char-pic" src="http://image.eveonline.com/Character/{{ character.attackers[0].character_id }}_128.jpg"></a> {% endif %}
        {% if character.attackers[1] %} <p>{{ character.attackers[1].name }}: {{ character.attackers[1].attack_count }} kills</p> {% endif %}
        {% if character.attackers[2] %} <p>{{ character.attackers[2].name }}: {{ character.attackers[2].attack_count }} kills</p> {% endif %}
    </div>
</div>

{% endblock %}
