{% extends "layout.html" %}
{% block header %}
    <div class="search-header">
        <a href=".."><img src="{{url_for('static', filename='banner.png')}}"></a>
    </div>
{% endblock %}
{% block body %}
<div class="char-wrapper">
    <div class="attackers">
        <h1 class="killed-by-title">KILLED BY</h1>
        {% if character.attackers[0] %}
        <a href="/character/{{ character.attackers[0].demos['character_id'] }}">
            <img class="attacker-char-pic" src="https://image.eveonline.com/Character/{{ character.attackers[0].demos['character_id'] }}_256.jpg">
        </a>
        <h2>
            <a href="/character/{{ character.attackers[0].demos['character_id'] }}">{{ character.attackers[0].demos['name'] }}
            </a>
        </h2>
        <p>Kills: {{ character.attackers[0].attack_count }}</p>
        {% endif %}
        <!-- {% if character.attackers[1] %}
        <div class="tertiary-char-wrapper">
            <div class="tertiary-char">
                <div class="tertiary-image">
                    <a href="/character/{{ character.attackers[1].demos['character_id'] }}">
                        <img src="https://image.eveonline.com/Character/{{ character.attackers[1].demos['character_id'] }}_64.jpg">
                    </a>
                </div>
                <div class="tertiary-text">
                    <p>{{ character.attackers[1].demos['name'] }} - {{ character.attackers[1].attack_count }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        {% if character.attackers[2] %}
        <a href="/character/{{ character.attackers[2].demos['character_id'] }}">
            <p>{{ character.attackers[2].demos['name'] }} - {{ character.attackers[2].attack_count }}
            </p>
        </a> {% endif %} -->
    </div>

    <div class="main-char">
        <h1 class="main-char-title">{{ character.demos['name'] }}</h1>
        <img class="main-char-pic" src="https://image.eveonline.com/Character/{{ character.demos['character_id'] }}_256.jpg">
        <div class="corp-info-wrapper">
            <div class="corp-info">
                <div class="corp-image">
                    <img src="https://image.eveonline.com/Corporation/{{ character.corporation.demos['corporation_id'] }}_64.png">
                </div>
                <div class="corp-text">
                    <p>{{ character.corporation.demos['name'] }}</p>
                </div>
            </div>
        </div>
        {% if character.corporation.demos['alliance_id'] is not none %}
        <div class="corp-info-wrapper">
            <div class="corp-info">
                <div class="corp-image">
                    <img src="https://image.eveonline.com/Alliance/{{ character.demos['alliance_id'] }}_64.png">
                </div>
                <div class="corp-text">
                    <p>{{ character.corporation.alliance.demos['name'] }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        <h3><a href="https://zkillboard.com/character/{{ character.demos['character_id'] }}/" target="_blank">zkillboard</a></h3>
    </div>

    <div class="victims">
        <h1 class="killed-title">KILLED</h1>

        <div class="victim-info-wrapper">
            <div class="victim-info open">
                <h2 class="victim-info-heading">1. {{ character.victims[0].demos['name'] }}</h2>
                <div class=victim-info-content>
                    <img class="victim-char-pic" src="https://image.eveonline.com/Character/{{ character.victims[0].demos['character_id'] }}_256.jpg">
                    <p>Kills: {{ character.victims[0].attack_count }}</p>
                    <p>Corp:{{ character.victims[0].corporation.demos['name'] }}</p>
                    <p>Sec. Status: {{ character.victims[0].demos['security_status'] }}</p>
                </div>
            </div>

            <div class="victim-info close">
                <h2 class="victim-info-heading">2. {{ character.victims[1].demos['name'] }}</h2>
                <div class=victim-info-content>
                    <p>{{ character.victims[1].corporation.demos['name'] }}</p>
                    <img class="victim-char-pic" src="https://image.eveonline.com/Character/{{ character.victims[1].demos['character_id'] }}_256.jpg">
                    <p>{{ character.victims[1]['security_status'] }}</p>
                </div>
            </div>

            <div class="victim-info close">
                <h2 class="victim-info-heading">3. {{ character.victims[2].demos['name'] }}</h2>
                <div class=victim-info-content>
                    <p>{{ character.victims[2].corporation.demos['name'] }}</p>
                    <img class="victim-char-pic" src="https://image.eveonline.com/Character/{{ character.victims[2].demos['character_id'] }}_256.jpg">
                    <p>{{ character.victims[2]['security_status'] }}</p>
                </div>
            </div>
        </div>
</div>

<script type="text/javascript">
var accItem = document.getElementsByClassName('victim-info');
var accHD = document.getElementsByClassName('victim-info-heading');
for (i = 0; i < accHD.length; i++) {
    accHD[i].addEventListener('click', toggleItem, false);
}
function toggleItem() {
    var itemClass = this.parentNode.className;
    for (i = 0; i < accItem.length; i++) {
        accItem[i].className = 'victim-info close';
    }
    if (itemClass == 'victim-info close') {
        this.parentNode.className = 'victim-info open';
    }
}
</script>
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}
