{% extends "layout.html" %}
{% block body %}

<div class="char-wrapper">
    <div class="victims">
        
    </div>

    <div class="main-char">
        <img src="https://image.eveonline.com/Corporation/{{ corporation.corporation_id }}_256.png">
        <h1>[{{ corporation.ticker }}] {{ corporation.name }}</h1>
        {% if corporation.alliance %}
        <h1>[{{ corporation.alliance.ticker }}] {{ corporation.alliance.name }}</h1>
        {% endif %}
        <h1><a href="https://zkillboard.com/corporation/{{ corporation.corporation_id }}/" target="_blank">zkill</a></h1>
    </div>

    <div class="killers">
        
    </div>
</div>

{% endblock %}
